.TopBox {
  display: flex;
  border: 2px solid black;
  justify-content: space-evenly;
}

nav {
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: darkblue;
}

section {
  height: 350px;
}

.border {
  border: 1px solid black;
  padding-left: 126px;
  padding-right: 126px;
}

.box {
  width: 40%
  margin: auto;
  background:
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 10px;
  padding: 10px;
  color: white;
  border: 2px solid
  border-radius: 20px/50px;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  height: 400px;
  background-color: 555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}


/* this hides/shows the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popup .close {
  position: fixed;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: pink;
}
.popup .close:hover {
  color: green;
}
.popup .content {
  max-height: 30%;
  overflow: auto;

#schoolPopup {
  
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.agebutton {
  font-size: 16px;
  padding: 10px;
  color: #black;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition .25s ease-in-out
}
.agebutton:hover {
  background: red;
  transform translate3d(-5px,-5px,0);

}

.ageoverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.ageoverlay:target {
  visibility: visible;
  opacity: 1;
}

.agepopup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: fixed;
  transition: all 5s ease-in-out;
  padding: 35px;
  top: 20%;
  left: 50%;
  transform: translate3d(-50%, 50px, 0);
  text-align: center;
  max
}

.agepopup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.agepopup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.agepopup .close:hover {
  color: #06D85F;
}
.agepopup .content {
  max-height: 30%;
  overflow: auto;
}
