.TopBox {
  display: flex;
  border: 2px solid black;
  justify-content: space-evenly;
}

nav {
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: darkblue;
}

section {
  height: 350px;
}

.border {
  border: 1px solid black;
  padding-left: 126px;
  padding-right: 126px;
}

.box {
  width: 40%
  margin: auto;
  background:
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 10px;
  padding: 10px;
  color: white;
  border: 2px solid
  border-radius: 20px/50px;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  height: 400px;
  background-color: 555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}


/* this hides/shows the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


.overlay.active {
  opacity: 1;
  pointer-events: all;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
